h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.bg-secondary {
  background-color: $secondary;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-third {
  background-color: $third;
}

.text-weight-ligth {
  font-weight: 300;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}